* {
    font-family: 'Ubuntu', sans-serif;
    color: inherit;
}

html, body {
    margin: 0;
    box-sizing: border-box;
    background-color: #E0E1E0;
}
 
.container {
    display: flex;
}
  
.left-menu {
    position: fixed;
    box-sizing: border-box;
    top: 0;
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 100vh;
    background-color: #231F20;
    align-items: center;
    justify-content: space-around;
    padding: 2rem;
    color: #E0E1E0;
   
}

.top-left-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.bottom-left-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.profile-photo {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-bottom: 1rem;
}

.header {
    position: fixed;
    top: 0;
    left: 25%;
    width: 75%;
    height: 10vh;
    background-color: #AF0421;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1rem;
    z-index: 1;
}

.main {
    position: relative;
    left: 25%;
    margin: 1rem;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.section{
    display: flex;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    max-width: 75rem;
}

.section .section-content {
    min-height: 90vh;
}

.project-section{
    display: flex;
    flex-direction: column;
    height: 90vh;
}